{% extends "layout.html" %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block body_title %}
{% endblock %}

{% block body %}
	<h1>Ishmael</h1>
	<h2>A Malware Identification Service</h2>
	Ishmael is a friendly malware identification and research service with a 
	small collection of RESTful resources.  Use them to check the status of an single URL or
	search more broadly across a domain and path.
	<p>
	<ul><strong>RESTful Resources Available</strong>
	<li><a href=#PATH>Match Using URL's Exact Path and Parameters</a>
	<li><a href=#SEARCH>Search Across Partial Path and Parameters Pairs</a>
	<li><a href=#ID>Find Record Using Ishmael Identifier</a>
	</ul>
	<p>
	<ul><strong>JSON Response</strong>
	<li><a href=#JSON_DEFINE>JSON Response Element Definitions</a>
	<li><a href=#JSON_EXAMPLE>JSON Response Example</a>
	</ul>
	<p class=latestver>
		<strong>API Current Version: 
		<a href="{{ url_for('get_urlinfo_home', api_version=config['API_VERSION_CURRENT'], _external = True, _scheme=scheme)}}">{{config['API_VERSION_CURRENT']}}</a></strong>

	<h2><a name='PATH'>Match Using URL's Exact Path and Parameters</a></h2>
	<pre><span class=ig>
<em>Purpose</em>
Attempt an exact match of a URL's network location, path and query components against known malware sources.

<em>General Form</em>
{{url_for('find_urlinfo_by_path', api_version=config['API_VERSION_CURRENT'], path = '', _external = True, _scheme=scheme)}}[netloc/path?query_string]

<ul><em>Definitions</em>
<li>netloc is case-insensitive and includes host:port
<li>path is case-sensitive
<li>query parameters are case-sensitive and order independent</ul>
<ul><em>Example</em>
<li><a href="{{url_for('find_urlinfo_by_path', api_version=config['API_VERSION_CURRENT'], path = '', _external = True, _scheme=scheme)}}melville.io/helloishmael?call=me">{{url_for('find_urlinfo_by_path', api_version=config['API_VERSION_CURRENT'], path='', _external = True, _scheme=scheme)}}melville.io/helloishmael?call=me</a>
</ul>
</span>
</pre>
<br>
	<h2><a name='SEARCH'>Search Across Partial Path and Parameters Pairs</a></h2>
	<pre><span class=ig>
<em>Purpose</em>
Attempt to match a range of URLs over any depth of path and any combination of query parameters.

<em>General Form</em>
{{url_for('search_urlinfo_by_path', api_version=config['API_VERSION_CURRENT'], path = '', _external = True, _scheme=scheme)}}[netloc/path?query_string]

<ul><em>Definitions</em>
<li>netloc is case-insensitive and includes host and optionally port
<li>path is case-sensitive and can be to any directory depth (optional)
<li>query parameters are case-sensitive, order independent, and any number of pairs (optional)</li></ul>
<ul><em>Example</em>
<li><a href="{{url_for('search_urlinfo_by_path', api_version=config['API_VERSION_CURRENT'], path = 'melville.io', _external = True, _scheme=scheme)}}">{{url_for('search_urlinfo_by_path', api_version=config['API_VERSION_CURRENT'], path = 'melville.io', _external = True, _scheme=scheme)}}</a>
<li><a href="{{url_for('search_urlinfo_by_path', api_version=config['API_VERSION_CURRENT'], path = 'melville.io', _external = True, _scheme=scheme)}}?a=b">{{url_for('search_urlinfo_by_path', api_version=config['API_VERSION_CURRENT'], path = 'melville.io', _external = True, _scheme=scheme)}}?a=b</a>

</ul>
</span></pre>
<br>
	<h2><a name='ID'>Find Record Using Ishmael Identifier</a></h2>
	<pre><span class=ig>
<em>Purpose</em>
Access a malware data record by an Id provided in a previous request.  Id is available as '_id' element in response.

<em>General Form</em>
{{url_for('find_urlinfo_by_id', api_version=config['API_VERSION_CURRENT'], urlid = '', _external = True, _scheme=scheme)}}[_id]

<ul><em>Definitions</em>
<li>id is the unique database identifier.

<ul><em>Example</em>
<li><a href="{{url_for('find_urlinfo_by_id', api_version=config['API_VERSION_CURRENT'], urlid = '', _external = True, _scheme=scheme)}}{{ishmael_id}}">{{url_for('find_urlinfo_by_id', api_version=config['API_VERSION_CURRENT'], urlid = '', _external = True, _scheme=scheme)}}{{ishmael_id}}</a>
</ul>
</span></pre>
<br>
	<h2><a name='JSON_DEFINE'>JSON Response Element Definitions</a></h2>
	<pre><span class=ig><table>
<strong><th colspan=3>Element</th><th>Description</th><th>Values</th></strong>
<tr><th>Status<td colspan=2></td><td>Indicates success or failure of Api execution.<td>Success, Fail, Error</td>
<tr><th>Code<td colspan=2></td><td>HTTP Numeric Status Code</td><td>200, 404, 422, 503, &c.</td></tr>
<tr><th rowspan=8>Data<td colspan=2>record_count</td><td>Total number of records returned</td><td>Integers >= 0</td>
<tr><td rowspan=7>urls</td><td>_id</td><td>URL Unique Identifier</td><td>BSON ObjectID</td>
<tr><td>is_in_database</td><td>Indicator if URL exists in database</td><td>True or False</td>
<tr><td>is_malware</td><td>Indicator if URL is known to be malicious</td><td>True or False</td>
<tr><td>_links</td><td>List of API links related to record including 'rel and 'href'</td><td>[Self, Home]</td>
<tr><td>created</td><td>Date URL entered into database</td><td>ISO 8601 Date</td>
<tr><td>verified</td><td>Last verification date for is_malware</td><td>ISO 8601 Date</td>
<tr><td>url</td><td>Complete URL path with query parameters</td><td></td>
<tr><th>Message<td colspan=2></td><td>Provides optional status or error information</td><td></td>
<tr><th rowspan=4>Metadata<td colspan=2>api_version<td>Version of the API used</td><td>"1"</td>
<tr><td colspan=2>request<td>Full path of the original request</td><td></td>
<tr><td colspan=2>response_timestamp<td>Request submission timestamp</td><td>ISO 8601 Date</td>
<tr><td colspan=2>server<td>Server ID</td><td></td>

</table>
</span></pre>
<br>
	<h2><a name='JSON_EXAMPLE'>JSON Response Example</a></h2>
	<pre><span class=ig>
<strong>Resource: {{url_for('find_urlinfo_by_path', api_version=config['API_VERSION_CURRENT'], path = '', _external = True, _scheme=scheme)}}melville.io/helloishmael?call=me</strong>
	
{{results}}
</span></pre>

{% endblock %}
